 html {
     height: 100%;
 }
 
 body {
     margin: 0;
     padding: 0;
     height: auto !important;
     height: 100%;
     min-height: 100vh;
     display: flex;
     background-color: #fff;
     background-image: url(../img/nirmanacity.gif);
     flex-direction: column;
 }
 
 .header {
     flex: 0 0 40px;
 }
 
 .footer {
     flex: 0 0 auto;
     background-color: orangered;
     overflow: hidden;
 }
 
 .footer * {
     color: black;
 }
 
 .footer h1 {
     font-weight: 600;
     letter-spacing: 1.2px;
     margin-bottom: 0;
 }
 
 .footer h5 {
     margin-bottom: 0;
 }
 
 .footer .desc {
     margin-bottom: 2rem;
     border-top: 1px solid black;
 }
 
 .content {
     width: 100%;
 }
 
 .contacts {
     font-size: 1.5rem;
     line-height: 2rem;
     margin: 0;
 }
 
 .contacts span {
     margin-right: 10px;
 }
 
 .contacts a {
     font-weight: 600;
 }
 
 .contacts a:hover {
     color: black;
 }
 
 .main {
     flex: 1 0 auto;
     overflow: hidden;
     display: flex;
     align-items: center;
 }
 
 nav {
     text-align: right;
     padding-top: 5rem;
 }
 
 nav li {
     list-style: none;
 }
 
 nav a {
     display: inline-block;
     color: black;
     padding: 2px 5px;
     background-color: orangered;
     font-weight: 500;
     -webkit-transition: all 0.2s linear;
     -moz-transition: all 0.2s linear;
     -ms-transition: all 0.2s linear;
     -o-transition: all 0.2s linear;
     transition: all 0.2s linear;
 }
 
 nav a:hover {
     color: white;
     font-weight: 600;
     background-color: red;
 }
 
 section {
     background: rgba(255, 255, 255, 0.9);
     padding: 1.5rem 3rem;
     margin: 2rem 0 1.5rem;
     max-width: 850px;
     display: none;
     position: relative;
 }
 
.close{
     position: absolute;
     right: 10px;
     top: 10px;
     font-size: 20px;
     z-index: 1;
     cursor: pointer;
}
 
.close i{
     font-size: 30px;
     font-weight: 300;
}

 .notebook {
     background-color: #fff;
     background-image: linear-gradient(#eee .1em, transparent .1em);
     background-size: 100% 1.5em;
     position: relative;
     font-family: 'Consolas';
     font-size: 1.33rem;
 }
 
 .notebook:before {
     position: absolute;
     content: '';
     height: 100%;
     width: 4px;
     border-left: 1px solid #FFCE99;
     border-right: 1px solid #FFCE99;
     left: 20%;
     top: 0;
 }
 
 .notebook ul {
     padding-left: 2rem;
     margin-bottom: 0;
 }
 
 .notebook li {
     list-style: none;
     margin-bottom: 0;
     line-height: 1.9rem;
 }
 
 .notebook b {
     color: orange;
     font-weight: 500;
 }
 
 .notebook b:after {
     content: ':';
 }
 
 .about {
     margin-top: 23px;
 }
 
 .works article {
     margin-bottom: 17px;
 }
 
 .works p,
 .works h5 {
     margin-bottom: 0;
 }
 
 .works h5 a {
     text-decoration: underline;
 }
 
 .works h5 a:hover {
     text-decoration: none;
 }
 
 .works small {
     background-color: orangered;
     color: #fff;
     padding: 2px 3px;
     line-height: 2rem;
 }
 
 #imagelightbox {
     position: fixed;
     z-index: 9999;
     -ms-touch-action: none;
     touch-action: none;
 }
 
 @media screen and (max-width: 35.5em) {
     .notebook:before {
         display: none;
     }
     nav {
         text-align: left;
         padding-top: 0rem;
     }
     nav li{
         display: inline;
         margin-right: 15px;
     }
 }
