/* font-family: "merriweather"; */

@font-face {
    font-family: "merriweather";
    src: url("MerriweatherRegular/MerriweatherRegular.eot");
    src: url("MerriweatherRegular/MerriweatherRegular.eot?#iefix")format("embedded-opentype"), url("MerriweatherRegular/MerriweatherRegular.woff") format("woff"), url("MerriweatherRegular/MerriweatherRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: 500;
}


/* font-family: "MerriweatherBold"; */

@font-face {
    font-family: "merriweather";
    src: url("MerriweatherBold/MerriweatherBold.eot");
    src: url("MerriweatherBold/MerriweatherBold.eot?#iefix")format("embedded-opentype"), url("MerriweatherBold/MerriweatherBold.woff") format("woff"), url("MerriweatherBold/MerriweatherBold.ttf") format("truetype");
    font-style: normal;
    font-weight: 700;
}


/* font-family: "MerriweatherItalic"; */

@font-face {
    font-family: "merriweather";
    src: url("MerriweatherItalic/MerriweatherItalic.eot");
    src: url("MerriweatherItalic/MerriweatherItalic.eot?#iefix")format("embedded-opentype"), url("MerriweatherItalic/MerriweatherItalic.woff") format("woff"), url("MerriweatherItalic/MerriweatherItalic.ttf") format("truetype");
    font-style: italic;
    font-weight: 500;
}


/* font-family: "MerriweatherLight"; */

@font-face {
    font-family: "merriweather";
    src: url("MerriweatherLight/MerriweatherLight.eot");
    src: url("MerriweatherLight/MerriweatherLight.eot?#iefix")format("embedded-opentype"), url("MerriweatherLight/MerriweatherLight.woff") format("woff"), url("MerriweatherLight/MerriweatherLight.ttf") format("truetype");
    font-style: normal;
    font-weight: 300;
}


/* font-family: "MerriweatherBoldItalic"; */

@font-face {
    font-family: "merriweather";
    src: url("MerriweatherBoldItalic/MerriweatherBoldItalic.eot");
    src: url("MerriweatherBoldItalic/MerriweatherBoldItalic.eot?#iefix")format("embedded-opentype"), url("MerriweatherBoldItalic/MerriweatherBoldItalic.woff") format("woff"), url("MerriweatherBoldItalic/MerriweatherBoldItalic.ttf") format("truetype");
    font-style: italic;
    font-weight: 700;
}


/* font-family: "MerriweatherLightItalic"; */

@font-face {
    font-family: "merriweather";
    src: url("MerriweatherLightItalic/MerriweatherLightItalic.eot");
    src: url("MerriweatherLightItalic/MerriweatherLightItalic.eot?#iefix")format("embedded-opentype"), url("MerriweatherLightItalic/MerriweatherLightItalic.woff") format("woff"), url("MerriweatherLightItalic/MerriweatherLightItalic.ttf") format("truetype");
    font-style: italic;
    font-weight: 300;
}
